# **Python Terminology**

**Object:**

- An object is a specific **instance of a data type** or class.

- Everything in Python i.e.**numbers, strings, lists, dictionaries, functions**, and even classes themselves—are objects.


**Variable:**

- A **variable is just a name** that refers to an object.

- It acts as a **label or reference** to stored data.

- **Variable doesn't directly hold the data** itself.

- **x = 10** : **'x' is a variable** that refers to the **object 10.**

**Object - Variable Analogy:**

- Think of an **object as a house** and a **variable as a street address** pointing to that house.

- The **address itself isn’t the house**, it just helps us find it.

**Identifier:**

- An identifier is the **name used to identify variables, functions, classes, or modules** in Python.

- It is essentially the **label you assign when declaring a variable, function, or any other entity**.

**Literal:**

- a literal is a **fixed value assigned directly to a variable** or used in an expression.

- Literals represent **constant values and do not change during execution**.

# **Let's Create Python Variables**

- Single Value Assignment

- Multiple Value Assignment

In [ ]:
# create a variable "x" to store an integer 99
x=99
print(x)

99

In [ ]:
# create a variable "myname" to store your name
myname="Snehal"
print(myname)

Snehal

In [ ]:
print('Hello World')

Hello World

In [ ]:
# Single value Assignment
x=10
y=20
z=30
print(x)
print(y)
print(z)

10
20
30

In [ ]:
print(x)
print(y)

10
20

In [1]:
# ex -2
name1="Pune"
name2="Mumbai"
name3="Bangalore"
print(name1)
print(name2)
print(name3)

Pune
Mumbai
Bangalore

In [ ]:
# Multiple value assignment - different value at a time
x,y,z=11,22,33
print(x)
print(y)
print(z)

11
22
33

In [ ]:
# Multiple value assignment - same value at a time
p=q=r=50
print(p)
print(q)
print(r)

50
50
50

In [ ]:
# printing multiple variables with a single print function
print(x,y,z)

11 22 33

In [ ]:
# ex -2: multiple value assignment
name,city,pin="Snehal","Pune",500001
print(name,city,pin)

Snehal Pune 500001

In [ ]:
# Fail cases of multiple value assignment
x,y,z=9,99
print(x,y,z)

ValueError: not enough values to unpack (expected 3, got 2)

# **Note:**

- In above, we created 3 variables, but we passed only two values. Hence, it is generated an error (Value Error)

In [ ]:
# Another example
x1,x2=100,200,300
print(x1)
print(x2)

ValueError: too many values to unpack (expected 2)

**Note:**

- In above code, there are two variables, but three values are passed. Hence, it resulted in an error.

- In multiple value assignment, make sure that always **number of variables should be equal to number of values.**

**Rules to Choose Variable Name:**

Python has specific rules for naming variables to ensure clarity and consistency in code. Here are the key rules:

1. **Start with a Letter or Underscore**:

- Variable names must begin with a letter (`A-Z`, `a-z`) or an underscore (`_`). They cannot start with a number.

- Therei no limit to the length of variable name.

2. **Don't statrt with a Number**:

- Variable name should not start with a digit (0 - 9).

- It can statrt either by '_' or by a character.

3. **Avoid Python Keywords**:

- Variable names cannot be Python **reserved words** like `if`, `while`, `class`, `True`, `False`, etc.

4. **Case Sensitivity**:

- Python treats variable names as **case-sensitive**.
- meaning `myVar`, `MyVar`, and `MYVAR` are considered different variables.

5. **No Spaces or Special Characters**:

- Variable names cannot contain spaces or symbols like `-`, `+`, `*`, or `&`.


While Python allows single-letter variables (`x`, `y`), it's best to use descriptive names (`student_name`, `total_price`) for better readability.

In [ ]:
# Let us try all the above rules.
# no limit for a length of variable name

x=10
print(x)

10

In [ ]:
num=10
print(num)

10

In [ ]:
number=10
print(number)

10

In [ ]:
mynumber=10
print(mynumber)

10

In [ ]:
firstnumber=10
print(firstnumber)

10

In [ ]:
# 2: number (digits) are allowed in variable name
#    but variable name should not start with digit

In [ ]:
x1=10
x2=20
x3=30
print(x1,x2,x3)

10 20 30

In [ ]:
# fail case example
2x=99
print(2x)

SyntaxError: invalid decimal literal (ipython-input-1725687157.py, line 2)

In [ ]:
# spaces are not allowed in a variable name
my number=10
print(my number)

SyntaxError: invalid syntax (ipython-input-1399392254.py, line 2)

In [ ]:
my_number=10
print(my_number)

10

In [ ]:
# python variable are case sensitive
apple_price=100
print(Apple_price)

NameError: name 'Apple_price' is not defined

In [ ]:
print(apple_price)

100

In [ ]:
# another example
a=10
print(A)

NameError: name 'A' is not defined

In [ ]:
# don't use reserved words (keywords)
# don;t use words like True, False, if, else

In [ ]:
# Let us try id() and type() functions.
x=10
print(x)
print(id(x))

10
11654664

In [ ]:
name=("Snehal")
print(id(name))

133604201254320

In [ ]:
x,y,z=10,10.99,"Pune"
print(x)
print(id(x))
print(y)
print(id(y))
print(z)
print(id(z))

10
11654664
10.99
133604201123216
Pune
133604181535904

In [ ]:
# Identitiy of two variables storing same data
x=10
y=x
print(x)
print(y)

10
10

In [ ]:
# let us verify data type of variables
print(type(x))
print(type(y))

<class 'int'>
<class 'int'>

In [ ]:
print(id(x))
print(id(y))

11654664
11654664

In [ ]:
# another example
name1="Pune"
name2=name1
print(id(name1))
print(id(name2))

133604181535904
133604181535904

In [ ]:
print(type(name1))
print(type(name2))

<class 'str'>
<class 'str'>

In [ ]:
# one more example
x1=99.99
x2=x1
x3=x2
print(id(x1),id(x2),id(x3))

133604201124624 133604201124624 133604201124624

In [ ]:
print(type(x1))
print(type(x2))
print(type(x3))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
# another example
z=2+3j
print(z)
print(type(z))

(2+3j)
<class 'complex'>

In [ ]:
number=2e3 # exponent 2e3  =  2 × 10³ i.e. 2 × 10³ = 2 × 1000 = 2000.0
print(number)
print(type(number))

2000.0
<class 'float'>

In [ ]:
n2=3E4
print(n2)
print(type(n2))

30000.0
<class 'float'>

# **Data Types in Python**

Python has several built-in **data types** that help store and manipulate different kinds of values.

**1. Numeric Types:**

- **int**: Whole numbers (10, -5)
- **float**: Decimal numbers (3.14, -0.5)
- **complex**: Numbers with real and imaginary parts (2 + 3j)

**2. Text Type:**

- **str**: Represents text ("Hello, Python!")

**3. Boolean Type:**

- **bool**: Represents **True** or **False**

**4. Sequence Types:**

- **list**: Ordered, mutable collection ([1, 2, 3])

- **tuple**: Ordered, immutable collection ((4, 5, 6))

**5. Mapping Type:**

- **dict**: Key-value pairs ({"name": "Alice", "age": 25})

**6. Set Types:**

- **set**: Unordered collection of unique elements ({7, 8, 9})

- **frozenset**: Immutable version of a set

**7. Binary Types:**

- **bytes**, **bytearray**,: Used for handling binary data

**8. None Type:**

- **NoneType**: Represents the absence of a value (None)

# **1. Numeric Data Types:**

Python has three main **numeric data types**, which are used to store different kinds of numbers:

**1. Integer (int):**

- Represents whole numbers (positive, negative, or zero).

- Example: 10, -5, 1000

- No decimal point.

**2. Floating-Point (float):**
- Represents numbers with decimal points.

- Example: 3.14, -0.5, 2.0

- Used for precise calculations.

**3. Complex (complex):**

- Represents numbers with real and imaginary parts.

- Example: 2 + 3j, -1.5 + 4j

- Used in scientific and engineering computations.

In [ ]:
# examples
x,y,z=10,10.0,10+20j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**common functions used in Numeric Data Types:**

- int()

- float()

- complex()

In [ ]:
# int()---->data into integer
n1=10.28
print(n1)
print(type(n1))

10.28
<class 'float'>

In [ ]:
# let us convert the float into an integer
print(int(n1))

10

In [ ]:
# let us convert the float into  complex
print(complex(n1))

(10.28+0j)

In [ ]:
# let us take an integer, convert int-->float, int--->complex
n2=15
print(float(n2))
print(complex(n2))

15.0
(15+0j)

In [ ]:
# let us try with complex ---> int, float
# Note: mathematically, above conversion is invalid.

# **Input Function**

- The input() function in Python is used to take user input while a program is running.

- It pauses the execution and waits for the user to enter something, then stores that input as a string.

**Prpoerties of Input Function:**


- **Pauses Execution:** When **input()** is used, the program halts and waits for the user to provide input.

- **Returns a String:** Regardless of what the user enters, the function always returns the input as a string.

- **Requires Conversion for Numerical Input:** If you need numbers, you'll have to manually convert the input using **int()** or **float()**.

- **Accepts an Optional Prompt:** You can provide a **message within input()** to guide users on what to enter.

- **Handles Multiple Inputs:** Users can input multiple values at once, which can be **split** and processed.

In [ ]:
# Input() Implementation
# let us write a program to get sum of two number

x1=16
x2=23
s=x1+x2
print(s)

39

In [ ]:
# now let us write above program using input()
x1=input()
x2=input()
s=x1+x2
print(x1)
print(x2)
print(s)

In [ ]:
print(type(x1))
print(type(x2))

<class 'str'>
<class 'str'>

In [ ]:
# now let us convert data type
x1=int(input())
x2=int(input())
s=x1+x2
print(s)

10
20
30

In [ ]:
print(type(x1))
print(type(x2))

<class 'int'>
<class 'int'>

In [ ]:
# comments inside input function
x1=int(input("Enter first number "))
x2=int(input("Enter second number "))
s=x1+x2
print(s)

Enter first number 20
Enter second number 36
56

In [ ]:
# one more example
city1=str(input("Enter first city "))
city2=str(input("Enter second city "))
print(city1,city2)

Enter first city Pune
Enter second city Mumbai
Pune Mumbai

In [ ]:
city1=input("Enter first city ")
city2=input("Enter second city ")
print(city1,city2)

Enter first city Pune
Enter second city Bangalore
Pune Bangalore

# **Print Function:**

- The **print()** function in Python is used to display output on the screen.

- It allows you to show **text, numbers, or variables** to the user.

**Properties of print function:**

- **Displays Output:** Prints text or values to the console.

- **Accepts Multiple Arguments:** You can print multiple values separated by commas.

- **Supports Formatting:** You can format output using f-strings or **.format()**.

- **Adds a New Line by Default:** Each **print()** call starts on a new line unless modified.

- **Allows Custom Separators:** You can change how items are separated using **sep** and **end** parameters.

In [ ]:
# print() implementation
x=10
y=20
z=x+y
print(x)
print(y)
print(z)

10
20
30

In [ ]:
# printing multiple variables using single print()
print(x,y,z)

10 20 30

In [ ]:
# 'sep' operator ----> It allows to define separator
print(x,y,z,sep=",")

10,20,30

In [ ]:
# another separator
print(x,y,z,sep=":")

10:20:30

In [ ]:
# Let us try one more time
print(x,y,z,sep="_")

10_20_30

In [ ]:
print(x,y,z,sep=" innomatics ")

10 innomatics 20 innomatics 30

In [ ]:
# special case of 'sep' -----> printing using newline \n
print(x,y,z,sep="\n")

10
20
30

In [ ]:
# tab space as a separator ----> \t
print(x,y,z,sep="\t")

10	20	30

In [ ]:
# 'end' -----> operator
print(x)
print(y)
print(z)

10
20
30

In [ ]:
print(x,end=",")
print(y,end=",")
print(z)

10,20,30

In [ ]:
# let us modify something in above
print(x,end=",")
print(y,end=",")
print(z,end=".")

10,20,30.

In [ ]:
# format() ----> to customize the output in required format
print("{}+{}={}".format(x,y,z))

10+20=30

In [ ]:
# observe the change
print("{}+{}={}".format(y,x,z))

20+10=30

In [ ]:
# let us try one more
name="Snehal"
country="India"
print("I am {}, I am from {}".format(name,country))

I am Snehal, I am from India

In [ ]:
# adding comments (prompt) in print()
print("first number",x)
print("second number",y)
print("sum",z)

first number 10
second number 20
sum 30

In [ ]:
# print() allows to add multiple prompts (comments)
print(x,y,z)
print("x=",x,"y=",y,"z=",z)

10 20 30
x= 10 y= 20 z= 30

#**Question 1:** Create a program that displays your name and complete mailing address formatted in the manner that you would usually see it on the outside of an envelope. Your program does not need to read any input from the user.

In [ ]:
name="Snehal"
hn="10"
street="abcd"
landmark="Kothrud"
city="Pune"
state="Maharashtra"
pin=411038
print(name,hn,street,landmark,city,state,pin,sep="\n")

Snehal
10
abcd
Kothrud
Pune
Maharashtra
411038

#**Question2:** Write a program that asks the user to enter his or her name. The program should respond with a message that says hello to the user, using his or her name.

In [ ]:
name=input("Enter your name:")
print("Hello",name)

Enter your name:Snehal
Hello Snehal

In [ ]:
name=input("Enter your name ")
print("hello {} !!".format(name))

Enter your name Snehal
hello Snehal !!