# Operators and Expressions

Operator is a predefined symbol that performs operation using operands.
e.g., + is an operator that performs addition using two operands.

Expression is collection of operands (literals/variables) and operators that when evaluated gives some result.
e.g., (2+3)-5 is an expression that returns result 0.

For each operator, please know:
1. arity: no.of operands an operator acts upon
2. operation: activity
3. precedence: priority of evaluation. Precedence decides which operator is evaluated first when different operators are present in an expression.
4. Associativity: Order of evaluation. Associativity decides the direction of evaluation when operators have the same precedence.

### Arithmatics operators

In [ ]:
x = 15
y = 4
print('x + y =',x+y) # addition
print('x - y =',x-y) # subtraction
print('x * y =',x*y) # multiplication
print('x / y =',x/y) # decimal division
print('x // y =',x//y) # integer division
print('x ** y =',x**y) # power or raise to
print('x % y  =',x%y) # modulus - gives remainder of division

x + y = 19
x - y = 11
x * y = 60
x / y = 3.75
x // y = 3
x ** y = 50625
x % y  = 3

### Logical Operators

In [ ]:
x = True
y = False
print('x and y is',x and y)
print('x or y is',x or y)
print('not x is',not x)

x and y is False
x or y is True
not x is False

### Bitwise operators

In [ ]:
# Below is the explanation about Bitwise Operators
# Binary Representation

'''
x = 2  →  00000010
y = 7  →  00000111
x & y (Bitwise AND)
Rule: 1 & 1 = 1, otherwise 0
  00000010
& 00000111
-----------
  00000010
Binary 00000010 = 2
---------------------------------------------
x | y (Bitwise OR)
Rule: 1 | 0 = 1, 1 | 1 = 1, 0 | 0 = 0
  00000010
| 00000111
-----------
  00000111
Binary 00000111 = 7
-------------------------------------------
x ^ y (Bitwise XOR)
Rule: Same bits → 0, Different bits → 1
  00000010
^ 00000111
-----------
  00000101
Binary 00000101 = 5
------------------------------------------
~x (Bitwise NOT)
Rule: Flips all bits (0 → 1, 1 → 0)
Python uses 2’s complement, so:

~x = -(x + 1)

For x = 2:

~2 = -(2 + 1) = -3
So, ~x = -3
------------------------------------------
x << 2 (Left Shift) Left shift moves all bits to the left by given positions and adds 0s on the right.
Rule: Shift bits left → multiply by 2ⁿ
x = 00000010
x << 2 → 00001000
Binary 00001000 = 8
Or mathematically:

2 × 2² = 8

So, x << 2 = 8
----------------------------------------
x >> 2 (Right Shift) Right shift moves all bits to the right by given positions and discards bits from the right.
Rule: Shift bits right → divide by 2ⁿ
x = 00000010
x >> 2 → 00000000
Binary 00000000 = 0
Or mathematically:

2 ÷ 2² = 0

So, x >> 2 = 0
'''

In [ ]:
# Bitwise Operators
x = 2
y = 7
print('x & y =',x&y)
print('x | y =',x|y)
print('x ^ y =',x^y)
print('~x =',~x)
print('x<<2 =',x<<2)
print('x >> 2 =',x>>2)

x & y = 2
x | y = 7
x ^ y = 5
~x = -3
x<<2 = 8
x >> 2 = 0

In [ ]:
y = 7
y << 2

28

In [ ]:
y >> 2

1

### Identity operators 'is'

In [ ]:
# 'is' checks identity not value
# It returns True only if both variables refer to the same object in memory
x1 = 5
y1 = 5
x2 = 'Hello'

y2 = 'Hello'

print(x1 is y1)
print(x2 is y2)

# LIST
x3 = [1,2,3]
y3 = [1,2,3]

print(x3 is y3) # Compares id(a) == id(b)
# x3 and y3 have same values But they are two different list objects
# Lists are mutable, so Python creates separate objects
# so both x3 and y3 have different memory locations

True
True
False

In [ ]:
print(id(x3))
print(id(y3))

134290088539392
134290088448320

In [ ]:
print(x3 == y3)
# == Checks value equality
# Returns True if the contents/values are the same

True

###  Assignment operators

In [ ]:
x = 15
y = 4
print('x=',x)
print('y=',y)
x+=y
print('x += y =',x)

x= 15
y= 4
x += y = 19

In [ ]:
x = 15
y = 4
print('x=',x)
print('y=',y)
x-=y
print('x -= y =',x)

x= 15
y= 4
x -= y = 11

In [ ]:
x = 15
y = 4
print('x=',x)
print('y=',y)
x*=y
print('x *= y =',x)

x= 15
y= 4
x *= y = 60

In [ ]:
x = 15
y = 4
print('x=',x)
print('y=',y)
x/=y
print('x /= y =',x)

x= 15
y= 4
x /= y = 3.75

In [ ]:
x = 15
y = 4
print('x=',x)
print('y=',y)
x//=y
print('x //= y =',x)

x= 15
y= 4
x //= y = 3

In [ ]:
x = 15
y = 4
print('x=',x)
print('y=',y)
x**=y
print('x **= y =',x)

x= 15
y= 4
x **= y = 50625

In [ ]:
x = 15
y = 4
print('x=',x)
print('y=',y)
x=int(x)
x&=y
print('x &= y =',x)

x= 15
y= 4
x &= y = 4

In [ ]:
x = 15
y = 4
print('x=',x)
x+=y
print('x += y =',x)
x-=y
print('x -= y =',x)
x*=y
print('x *= y =',x)
x/=y
print('x /= y =',x)
x//=y
print('x //= y =',x)
x**=y
print('x **= y =',x)

x=int(x)
x&=y
print('x &= y =',x)
x|=y
print('x | =y =',x)
x^=y
print('x ^= y =',x)
x<<=2
print('x<<=2 =',x)
x>>=2
print('x >>= 2 =',x)

x= 15
x += y = 19
x -= y = 15
x *= y = 60
x /= y = 15.0
x //= y = 3.0
x **= y = 81.0
x &= y = 0
x | =y = 4
x ^= y = 0
x<<=2 = 0
x >>= 2 = 0

### Membership operators:
`in` and `not in` are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary). For dictionaries the in operator checks ONLY KEYS, not values.

In [ ]:
x = 'Hello world'
y = {1:'a',2:'b'}

print('H' in x)
print('hello' not in x)

print(1 in y) # The in operator checks ONLY KEYS, not values.
# it checks is 1 key available in dictionary y? answer is yes so returns true

print('a' in y) # The in operator checks ONLY KEYS, not values.
# here also it checks is 'a' key available in dictionary? answer is no so returns false as 'a' is value here, not a key.

True
True
True
False

In [ ]:
print('hello' in x)

False

In [ ]:
print('Hello' in x)

True

In [ ]:
x=10
y=5
"Hello" if x > y else "Bye"

'Hello'