## Comparison or Relational Operators <,>,<=,>=,==,!=

In [1]:
x,y = 10,10
print(x,y)

10 10

In [2]:
print(x==y)

True

In [3]:
z = 11
print(x==z)

False

In [4]:
name1 = "Snehal"
name2 = "Snehal"
name3 = "snehal"

In [5]:
print(name1==name2)

True

In [6]:
print(name2 == name3)

False

In [7]:
# Not equal to (!=)
print(x!=y)

False

In [8]:
print(x!=z)

True

In [9]:
print(name1 != name3)

True

In [13]:
print(name1 != name2)

False

In [10]:
# greater than (>)
print(z>x)

True

In [11]:
# less than(<)
print (z<x)

False

In [16]:
print(x<z)

True

In [12]:
# greater than or equal to (>=)
print(x>=y)

True

In [13]:
# less than or equal to (<=)
print(x)
print(z)
print(x<=z)

10
11
True

In [14]:
# Logical operators
x,y,z=5,25,15
print(x,y,z)
print(x>0 and x<10)

5 25 15
True

In [15]:
print(x>8 and x<10)

False

In [16]:
x=15
print(x>0 or x<10)

True

In [17]:
# not
x=5
print(x==5)
print(not x==5)

True
False

# **Conditions using operators**

*   In programming, selection is the process of making decisions, allowing a program to choose between different execution paths
*   This concept is crucial for controlling flow and is usually represented using conditional statements like if, else in various programming languages.
*   Decision making naturally translates into boolean logic where True (1) represents condition is satisfied and False (0) represents condition is not satisfied

### **Conditional Statement**


*   take the input from user : input()
*   input() takes the value by default in the string format

### **if**
*   Check whether the number is positive

In [19]:
a=int(input("Enter a value: "))
# check for positive number
if a>0:
   print("Positive Number")

Enter a value: -5

In [20]:
a=int(input("Enter a value: "))
# check for positive number
if a>0:
    print("Positive Number")

# check for negative number
if a<0:
    print("Negative Number")

# check for zero
if a==0:
    print("It is Zero")

Enter a value: 8
Positive Number

### **if...else Statement**

In [24]:
a=int(input("Enter a value"))
if a>0:
    print("Positive Number")
else:
    print("Negative Number")
print("thank you")

Enter a value9
Positive Number
thank you

### **WAP to check the number is even or odd**

In [ ]:
a=int(input("Enter a value"))
if a%2==0:
    print("Even number")
else:
    print("odd number")
print("Thank you")

Enter a value21
odd number
Thank you

### **if .... elif ... else**

*   if want to check multiple condition

In [26]:
num=int(input("Enter either 10,20 or 30 "))
if num==10:
    print("TEN")
elif num==20:
    print("TWENTY")
elif num==30:
    print("THIRTY")
else:
    print("INVALID CHOICE")

Enter either 10,20 or 30 65
INVALID CHOICE

In [27]:
num1 = int(input("Enter a value "))
if num1 > 0:
  print("Positive")
elif num1 < 0:
  print("Negative")
else:
  print("It's Zero")
print("Thank you")

Enter a value 0
It's Zero
Thank you

### **accept the city name from user and print the monumnent**

*   agra = tajmahal , delhi = red fort , mumbai = gateway of india

In [29]:
city=input("Enter a city either agra , delhi ,mumbai: ").lower()
print(city)
if city=="delhi":
    print("Red Fort")
elif city=="agra":
    print("Taj Mahal")
elif city=="mumbai":
    print("Gateway of India")
else:
    print("Wrong Choice")

Enter a city either agra , delhi ,mumbai: Pune
pune
Wrong Choice

### **WAP to find the largest number from the user**

In [30]:
num1=int(input("Enter 1st Value "))
num2=int(input("Enter 2nd Value "))
num3=int(input("Enter 3rd Value "))
print("Maximum number is ",max(num1,num2,num3))

Enter 1st Value 52
Enter 2nd Value 48
Enter 3rd Value 98
Maximum number is  98

### **nested if**

In [34]:
num=int(input("Enter a value "))
if num>500:
  print("Entered Value is greater than 500")
  print("Check for the number is 600 , 650 , 700")
  if num==600:
    print("Number is 600")
  elif num==650:
    print("Number is 650")
  elif num==700:
    print("Number is 700")
  else: print("unknown")
else:
  print("Entered Value is less than 500")

Enter a value 987
Entered Value is greater than 500
Check for the number is 600 , 650 , 700
unknown

### **WAP user enter a number identify whether it is a positive ,negative , zero**

In [ ]:
a=int(input("Enter an integer"))
if a>0:
    print(a,"is positive number")
elif a<0:
    print(a,"is negative number")
else:
    print("you have entered",a,"value")

Enter an integer0
you have entered 0 value

In [ ]:
a=int(input("Enter an integer"))
if a>=0:
    if a==0:#13==0 #false
        print("you have entered",a,"value")
    else:
        print(a,"is positive number")
else:
    print("Negative value ",a)

Enter an integer-13
Negative value  -13

**take a input from the user number**
1. divisible by 2 only 16
2. divisible by 3 only 15
3. divisible by 2 and 3 only 18
4. not divisible by 2 and 3 only 19

In [ ]:
a=int(input("Enter an integer"))
if a%2==0:
    if a%3==0:
        print("divisible by 2 and 3")
    else:
        print("divisible by 2 only")

else :
    if a%3==0:
        print("divisible by 3 only")
    else:
        print("not divisible by 2 and 3")

Enter an integer14
divisible by 2 only

In [ ]:
# Check if a number is divisible by 3 or 5 or by both or not by 3 and 5
num = int(input("Enter a number: "))

if num % 3 == 0 and num % 5 == 0:
    print(num, "is divisible by both 3 and 5")
elif num % 3 == 0:
    print(num, "is divisible only by 3")
elif num % 5 == 0:
    print(num, "is divisible only by 5")
else:
    print(num, "is not divisible by either 3 or 5")