# **Dictionary**

*    Dictionaries are used to store data values in "key:value pairs".
*   Dictionaries are written with curly brackets {"Key":"Value"}, and have keys and values.
*   A dictionary is a collection which is ordered, changeable and do not allow duplicates.
*   Here, keys are unique identifiers that are associated with each value.
*   Dictionary is called a mapping data type.

In [1]:
capital_dict={"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
capital_dict

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [2]:
type(capital_dict)

dict

In [3]:
dir(capital_dict) # or dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [4]:
capital_dict

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [6]:
# access element of dictionary
capital_dict["Italy"]

'Rome'

In [7]:
# keys() method extracts the keys of the dictionary and returns the list of keys as a view object.
capital_dict.keys()

dict_keys(['Nepal', 'Italy', 'England'])

In [8]:
# The values() method returns a view object that displays a list of all the values in the dictionary.
capital_dict.values()

dict_values(['Kathmandu', 'Rome', 'London'])

In [9]:
# The items() method returns a view object that displays a list of dictionary's (key, value) tuple pairs.
items=capital_dict.items()
items

dict_items([('Nepal', 'Kathmandu'), ('Italy', 'Rome'), ('England', 'London')])

In [10]:
# The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.
add_capital={"India": "New Delhi","abc":"xyz"}
capital_dict.update(add_capital)

In [11]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz'}

In [12]:
capital_dict.update({"Australia":"Canberra"}) # capital of Australia is Canberra
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Canberra'}

In [13]:
capital_dict.update({"a":"b","p":"q"})

In [14]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Canberra',
 'a': 'b',
 'p': 'q'}

In [15]:
# The pop() method removes and returns an element from a dictionary having the given key.
capital_dict.pop("a")

'b'

In [16]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'xyz',
 'Australia': 'Canberra',
 'p': 'q'}

In [17]:
capital_dict['abc']="Mumbai" # Dictionaries are Mutable

In [18]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai',
 'Australia': 'Canberra',
 'p': 'q'}

In [19]:
capital_dict.popitem() # removes last key:value pair from dictionary

('p', 'q')

In [20]:
capital_dict

{'Nepal': 'Kathmandu',
 'Italy': 'Rome',
 'England': 'London',
 'India': 'New Delhi',
 'abc': 'Mumbai',
 'Australia': 'Canberra'}

In [21]:
# Dictionary Values can be of different data type or data structure
mylist=["Mango","Orange","Strawberry","Banana","Mulberry","Black berry"]

In [23]:
mytuple=(20,53,45,78,89,65,97)

In [24]:
capital_dict={"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}

In [25]:
mydict={"A":mylist,
        "B":mytuple,
        "C":capital_dict
       }
mydict

{'A': ['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry'],
 'B': (20, 53, 45, 78, 89, 65, 97),
 'C': {'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}}

In [28]:
mydict['A']

['Mango', 'Orange', 'Strawberry', 'Banana', 'Mulberry', 'Black berry']

In [29]:
len(mydict)

3

In [30]:
len(mydict['A'])

6

In [31]:
mydict['C']

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}

In [33]:
mydict['A'][4] #index 0 1 2 3, 3rd index element = banana

'Mulberry'

In [34]:
mydict['B'][5]

65

In [35]:
mydict['C']['England']

'London'

In [36]:
dict1={1:"S",2:25,3:"Manager"}

In [37]:
dict1

{1: 'S', 2: 25, 3: 'Manager'}

In [38]:
dict1[1]

'S'

In [39]:
# clear(): clear() removes all key–value pairs from the dictionary, making it empty.
dict1.clear()

In [40]:
dict1

{}

**Additional Functions**

In [41]:
# get(): If Key exists → returns its value
student = {"name": "Neha", "age": 21}
print(student.get("name"))

Neha

In [46]:
# If Key does NOT exist → returns None. No Error raised
print(student.get("marks"))

None

In [45]:
student["marks"]

KeyError: 'marks'

In [49]:
# Using a default value (very important)
# If the key is not found, it returns None or a specified default value.
print(student.get("marks", 0))

0

In [ ]:
# Difference between get() and []
# To extract value from dictionary we use key name in [].
# But in this case error will be raised if key is not present
print(student["marks"])

KeyError: 'marks'

In [50]:
# using get() we are safe as no error will be raised
print(student.get("marks"))

None

In [51]:
# Copy(): creates a shallow copy of dictionary
d1 = {"a": 1, "b": 2}
d2 = d1.copy()

print(d1)
print(d2)

{'a': 1, 'b': 2}
{'a': 1, 'b': 2}

In [52]:
# Changes in d2 do not affect d1.
d2["a"] = 100
print(d1)
print(d2)

{'a': 1, 'b': 2}
{'a': 100, 'b': 2}

In [53]:
# fromkeys(): Creates a new dictionary using given keys and a common value.
# default value is None
keys = ("name", "age", "marks") # only keys of dictionary, no values
student = dict.fromkeys(keys)

print(student)

{'name': None, 'age': None, 'marks': None}

In [54]:
# with a default value
keys = ("a", "b", "c")
d = dict.fromkeys(keys, 0)

print(d)

{'a': 0, 'b': 0, 'c': 0}

In [55]:
# setdefault(): Returns the value of a key.
# If the key does not exist, it adds the key with a default value.
student = {"name": "Snehal", "age": 21}

print(student.setdefault("name", "Unknown"))
print(student)

Snehal
{'name': 'Snehal', 'age': 21}

In [56]:
# if key does not exist it adds key with a default value 80
print(student.setdefault("marks", 80))
print(student)

80
{'name': 'Snehal', 'age': 21, 'marks': 80}

In [ ]:
# get(): Returns default, does not add key
# setdefault(): returns value of key; inserts key if missing
# fromkeys(): creates a new dictionary from given keys
# copy(): creates a shallow copy of a dictionary

## **Sets**
*   A set is an unordered collection of unique elements.
*   i.e. each element in a set must be unique.
*   Sets are mutable, meaning you can add or remove items after a set has been created.
*   Sets are defined using curly braces {} or the built-in set() function.

In [1]:
# Create a Set
set1 = {1, 2, 3, 4, 5}
print (set1)

{1, 2, 3, 4, 5}

In [2]:
# Create set using built-in set() function
set2 = set([1, 2, 3, 4, 5])
print (set2)

{1, 2, 3, 4, 5}

In [3]:
set2 = set((1, 2, 3, 4, 5))
print (set2)

{1, 2, 3, 4, 5}

In [4]:
set3 = {1, 2, 2, 3, 3, 4, 5, 5}  # duplicates will automatically be removed
print (set3)

{1, 2, 3, 4, 5}

**Sets can contain elements of different data types, including numbers, strings, and even other sets (as long as they are immutable)**

In [5]:
mixed_set = {1, 'hello', (1, 2, 3)}
print (mixed_set)

{1, (1, 2, 3), 'hello'}

In [6]:
# Lists are mutable so not allowed as element of set. Below command will raise an error
mixed_set2 = {1, 'hello', [1, 2, 3]}

TypeError: unhashable type: 'list'

**Basic Set Operations:adding and removing elements, checking membership, and performing set-specific operations like union, intersection, difference, and symmetric difference.**

In [7]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

**Adding an element inside a set**
*   add() : single element
*   update() : multiple element can be added

In [8]:
data={12,12,234,56,677,89,45,12}
print(data)

{677, 56, 89, 234, 12, 45}

In [9]:
data.add(12) # If the element is already present in the set, the set remains unchanged.
print(data)

{677, 56, 89, 234, 12, 45}

In [10]:
data.add(100) # sets are unordered, so there is no fixed position like in a list or tuple.
print(data) # Python decides the placement internally (based on hashing).
# That means you cannot control or predict the index/location where the element will appear.

{100, 677, 56, 89, 234, 12, 45}

In [11]:
data.add(900)
print(data)

{100, 677, 900, 56, 89, 234, 12, 45}

In [12]:
data.add(1000)
print(data)

{900, 12, 89, 100, 677, 1000, 234, 45, 56}

In [13]:
data.update([900,677,12,33,44,55])
print(data)

{900, 12, 89, 33, 100, 677, 1000, 234, 44, 45, 55, 56}

In [14]:
data.update((1,2,3))
print(data)

{1, 2, 3, 900, 12, 89, 33, 100, 677, 1000, 234, 44, 45, 55, 56}

**remove() - Remove an element from the set**

In [15]:
data.remove(909) # If element is not present error will be raised
print(data)

KeyError: 909

In [16]:
data.remove(900)

In [17]:
data

{1, 2, 3, 12, 33, 44, 45, 55, 56, 89, 100, 234, 677, 1000}

In [18]:
data.remove(677)
print(data)

{1, 2, 3, 12, 89, 33, 100, 1000, 234, 44, 45, 55, 56}

**Discard an element from the set.**

In [19]:
# discard() does not raise an error if the element is not found in the set
data.discard(50)

In [20]:
print(data)

{1, 2, 3, 12, 89, 33, 100, 1000, 234, 44, 45, 55, 56}

In [21]:
data.discard(234)
print(data)

{1, 2, 3, 12, 89, 33, 100, 1000, 44, 45, 55, 56}

**pop(): Any random element will be removed.**

In [22]:
data.pop()
print(data)

{2, 3, 12, 89, 33, 100, 1000, 44, 45, 55, 56}

**clear()**

In [23]:
data.clear()
print(data)

set()

**del**

In [24]:
set1={12,34,56,78,90,4,55,67,12}
print(set1)

{34, 67, 4, 12, 78, 55, 56, 90}

In [25]:
del set1

In [26]:
# del set1 → deletes the set object itself. Afterwards if you try to print set it will raise error
# set1.clear() → empties the set but keeps it alive.
print(set1)

NameError: name 'set1' is not defined

**Membership testing of a particular element in a set**

In [28]:
my_set = {1, 2, 3, 4}
i=2
if i in my_set:
   print(i," is present in the set")
else:
   print(i," is not present in the set")

2  is present in the set

### **Set Operations**
*   Union − It combine elements from both sets using the union() function or the | operator.
*   Intersection − It is used to get common elements using the intersection() function or the & operator.
*   Difference − It is used to get elements that are in one set but not the other using the difference() function or the - operator.
*   Symmetric Difference − It is used to get elements that are in either of the sets but not in both using the symmetric_difference() method or the ^ operator.

**Union: It will merge both sets and duplicate elemets will be entered once**

In [29]:
set1={"English","Hindi","Marathi"}
set2={"Tamil","French","English"}
new_set = set1.union(set2)
print(new_set)

{'English', 'French', 'Tamil', 'Hindi', 'Marathi'}

In [30]:
var1= set1 | set2
print(var1)

{'English', 'French', 'Tamil', 'Hindi', 'Marathi'}

**Intersection: Common elements in both sets**

In [31]:
set1={"English","Hindi","Marathi"}
set2={"Tamil","French","English"}
data=set1.intersection(set2)
print(data)

{'English'}

In [32]:
data2=set1 & set2
print(data2)

{'English'}

In [35]:
set1

{'English', 'Hindi', 'Marathi'}

In [34]:
set2

{'English', 'French', 'Tamil'}

**intersection_update() - Store the result of intersection() in set1**

In [36]:
set1.intersection_update(set2)
print(set1)
print(set2)

{'English'}
{'French', 'Tamil', 'English'}

**Symmetric_difference() : it is a opposite of intersection()**
*   Except common elements put all elements in new set

In [37]:
set1={'a','b','c'}
set2={'a','d','e'}
new_set=set1.symmetric_difference(set2)
print(new_set)

{'e', 'c', 'd', 'b'}

In [38]:
new_set2=set1 ^ set2
print(new_set2)

{'e', 'c', 'd', 'b'}

**In set2 save the resultant of symmetric_difference() using symmetric_difference_update()**

In [39]:
set2.symmetric_difference_update(set1)
print(set2)
print(set1)

{'e', 'c', 'd', 'b'}
{'a', 'c', 'b'}

**Difference**

In [40]:
set1={"HTML","CSS","Javascript","Python","English","Math"}
set2={"Python","angular","Nodejs","English","Math"}
print(set1)
print(set2)

{'English', 'CSS', 'Math', 'Python', 'Javascript', 'HTML'}
{'English', 'Math', 'Python', 'Nodejs', 'angular'}

In [41]:
data=set1 & set2 # Common i.e. intersection
print(data)

{'English', 'Math', 'Python'}

In [42]:
new_data=set1 - set2
print(new_data)

{'CSS', 'Javascript', 'HTML'}

In [43]:
new_data2 = set2 - set1
print(new_data2)

{'Nodejs', 'angular'}

In [44]:
set1 # remains unchanged

{'CSS', 'English', 'HTML', 'Javascript', 'Math', 'Python'}

In [45]:
set2 # remains unchanged

{'English', 'Math', 'Nodejs', 'Python', 'angular'}

In [46]:
set1.difference_update(set2)
print(set1) # set1 is changed

{'CSS', 'Javascript', 'HTML'}

In [47]:
set2 # remains unchanged

{'English', 'Math', 'Nodejs', 'Python', 'angular'}

**Frozen Set: A frozen set is an immutable collection of unique elements, similar to a regular set but with the distinction that it cannot be modified after creation. Once created, the elements within a frozen set cannot be added, removed, or modified, making it a suitable choice when you need an immutable set.**

In [48]:
set_a=frozenset((12,34,56,78,90,2,3,4))
print(set_a)

frozenset({34, 2, 3, 4, 12, 78, 56, 90})

In [49]:
set_a.add(400)

AttributeError: 'frozenset' object has no attribute 'add'

# **Math Library**

In [50]:
# Math functions: can import specific functions or all using *
sqrt(25) # raise error as you have not imported

NameError: name 'sqrt' is not defined

In [51]:
from math import sqrt
sqrt(25)

5.0

In [52]:
factorial(5)

NameError: name 'factorial' is not defined

In [53]:
from math import factorial
factorial(5)

120

In [54]:
sin(90)

NameError: name 'sin' is not defined

In [ ]:
from math import sin,cos,tan

In [ ]:
cos(0)

1.0

In [55]:
from math import *
listnew=[5,2,3]
prod(listnew) #or prod([10,20,30])

30

In [ ]:
prod(t1)

NameError: name 't1' is not defined

In [ ]:
# OR you can say 'import math'
# But while calling any function you have to use math.Function_Name()
# The math.prod() method returns the product of the elements from the given iterable.
import math # or 'import math as mt', mt.sqrt(64 )
sequence = (2,2,5,6) # iterable where elements are given
math.prod(sequence)

120

In [57]:
import math
list4=[2,3,4]
math.prod(list4)

24

In [58]:
dir(math) # all functions of math library

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [59]:
mt.sqrt(36)

NameError: name 'mt' is not defined

In [60]:
import math as mt

In [61]:
mt.sqrt(36)

6.0