## **Write a Python program to calculate the net salary of an employee based on their gross salary and applicable tax rate.**

If the salary is greater than 20,000, apply a 25% tax.

Otherwise, apply a 20% tax.

Display a message indicating whether the true block or false block of the conditional statement is executed.

Finally, calculate and print the net salary after deducting tax.

In [ ]:
salary=int(input("Enter your salary:"))
if salary>20000:
  tax=0.25
  print("tax =",tax)
  print("Hello from true block")
else:
  tax=0.20
  print("tax =",tax)
  print("Hello from false block")
print("Bye... outside of if block")
net_sal=salary-tax*salary
print("Net Salary=",net_sal)
# change value of salary as 15000 and execute again

Enter your salary:10000
tax = 0.2
Hello from false block
Bye... outside of if block
Net Salary= 8000.0

# **For loop in Python**
# A for loop in Python is used to iterate (loop) over a sequence such as a list, tuple, string, set, dictionary, or range of numbers. It allows you to execute a block of code repeatedly for each element in the sequence.

Syntax:
for variable in sequence:
    statement(s)

variable → takes the value of each item in the sequence one by one
sequence → any iterable object
The loop ends automatically when the sequence is exhausted

*   For loop is used to execute selected statements multiple times.
*   If a statement is executed once, it is called an iteration.

In [ ]:
print("Hello")

Hello

In [ ]:
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello

In [ ]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello
Hello

## **Example 1: Loop using range()**

In [ ]:
for i in range(1,3):
  print("Hello")

Hello
Hello

## **Example 2: Loop through a list**

In [ ]:
fruits = ["apple", "banana", "mango"]

for i in fruits:
    print(i)

apple
banana
mango

## **Example 3: Loop through a string**

In [ ]:
for ch in "Python":
    print(ch)

P
y
t
h
o
n

**range():**

- it generates sequence of integers.

- **range(n):** 0,1,2,3,.....(n-1)

- **range(st,n):** st,......(n-1)

- **range(st,n,d):** st,st+d,st+2d,....,(n-1)

In [ ]:
x=list(range(5))
print(x)

[0, 1, 2, 3, 4]

In [ ]:
y=list(range(30))
print(y)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [ ]:
z=list(range(2,5))
print(z)

[2, 3, 4]

In [ ]:
list(range(900,911))

[900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910]

In [ ]:
list(range(-10,11))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(range(900,1001,10))

[900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]

In [ ]:
list(range(-100,101,10))

[-100,
 -90,
 -80,
 -70,
 -60,
 -50,
 -40,
 -30,
 -20,
 -10,
 0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]

In [ ]:
# string as a sequence
for i in "snehal":
  print(i)

s
n
e
h
a
l

In [ ]:
# string as a sequence
name=input("Enter any name")
for i in name:
  print(i)

Enter any nameneha
n
e
h
a

In [ ]:
# list as a sequence
x=[10,20,30,40,50]
for i in x:
  print(i)

10
20
30
40
50

In [ ]:
# tuple as a sequence
y=(10,20,30,40,50)
for j in y:
  print(j)

10
20
30
40
50

In [ ]:
# let us use range function as a sequence
for i in range(900,951,10):
  print(i)

900
910
920
930
940
950

In [ ]:
name = input("Enter your name:")
for i in range(1,6):
  print(i,name)

Enter your name:neha
1 neha
2 neha
3 neha
4 neha
5 neha

In [ ]:
# write a program to print your name 25 times along with iteration number.
for i in range(1,26):
  print(i,"snehal")

1 snehal
2 snehal
3 snehal
4 snehal
5 snehal
6 snehal
7 snehal
8 snehal
9 snehal
10 snehal
11 snehal
12 snehal
13 snehal
14 snehal
15 snehal
16 snehal
17 snehal
18 snehal
19 snehal
20 snehal
21 snehal
22 snehal
23 snehal
24 snehal
25 snehal

In [ ]:
for i in range(2,51,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
for i in range(1,50,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [ ]:
# print all the even numbers between 1 and 20.
for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# print all the odd numbers between 51 and 100
for j in range(51,101):
  if j%2!=0: # OR if j%2==1:
    print(j)

51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
# print all the numbers divisible by 7 and 9 in between 1 and 1000.
for i in range(1,1001):
  if i%7==0 and i%9==0:
    print(i)

63
126
189
252
315
378
441
504
567
630
693
756
819
882
945

In [ ]:
# write a program to print multiplication table of 3.
for i in range(1,11):
  print(i*3)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# write a program to print multiplication table of 3.
for i in range(1,11):
  #print("{}*{}={}".format(3,i,3*i))
  print("3","*",i,"=",3*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
# write a program to print multiplication table of any number
n=int(input("Enter any number"))
for i in range(1,11):
  print("{}*{}={}".format(n,i,n*i))

Enter any number5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [ ]:
# Write a program to print first k terms in a multiplication table of a number
n=int(input("Enter any number"))
k=int(input("Number of terms"))
for i in range(1,k+1):
  print("{}*{}={}".format(n,i,n*i))

Enter any number5
Number of terms4
5*1=5
5*2=10
5*3=15
5*4=20

In [ ]:
# take list
# write a program to print elements in a list using index.
x=list("snehal")
print(x)
for i in range(len(x)):
  print(x[i])

['s', 'n', 'e', 'h', 'a', 'l']
s
n
e
h
a
l

In [ ]:
# For Loop
for i in range(5,11): # Print numbers from 5 to 9. Default increment is 1.
  print(i)
print("Bye")

5
6
7
8
9
10
Bye

In [ ]:
for i in range(5,10):
  print(i)

5
6
7
8
9

In [ ]:
# print odd numbers from 1 to 10
for i in range(1,11,2): #start stop step:increment
  print(i)

1
3
5
7
9

In [ ]:
for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [ ]:
for num in range(11): # 0 to 10
  print(num,num*2) # num and its square

0 0
1 2
2 4
3 6
4 8
5 10
6 12
7 14
8 16
9 18
10 20

In [ ]:
# range(start,stop,step)
for i in range(1,11):
  #print(i)
  print(i,"@")

1 @
2 @
3 @
4 @
5 @
6 @
7 @
8 @
9 @
10 @

In [ ]:
subject="Science"
for i in subject:
  print(i)

S
c
i
e
n
c
e

In [ ]:
name="Snehal"
for i in range(1,4):
  print(name*i)

Snehal
SnehalSnehal
SnehalSnehalSnehal

In [ ]:
# print name 3 times on first line, 4 times on 2nd, 5 - 3rd, 6 - 4th line. Range(3,7)

name="Snehal"
for i in range(3,7):
  print((name+" ")*i)

Snehal Snehal Snehal
Snehal Snehal Snehal Snehal
Snehal Snehal Snehal Snehal Snehal
Snehal Snehal Snehal Snehal Snehal Snehal

In [ ]:
# print each letter of movie on separate line
# change case of each letter (upper to small and small to upper) of movie on single line with seperator ~
movie="Drishyam"
for letter in movie:
  #print(letter)
  #print(letter.upper())
  print(letter.swapcase(),end="") #try upper(), lower(),"-","#",etc. Default end parameter is 'new line'

dRISHYAM

In [ ]:
movie = "Drishyam"
for i in movie:
  print(i.swapcase())

d
R
I
S
H
Y
A
M

In [ ]:
movie = "Drishyam"
for i in movie:
  print(i.swapcase(),end="")

dRISHYAM

In [ ]:
# Print all even and odd numbers between given range 1 to 10 using For Loop
for i in range(1, 11):
    if i % 2 == 0:
        print('Even Number:', i)
    else:
        print('Odd Number:', i)

Odd Number: 1
Even Number: 2
Odd Number: 3
Even Number: 4
Odd Number: 5
Even Number: 6
Odd Number: 7
Even Number: 8
Odd Number: 9
Even Number: 10

In [ ]:
# Print all even and odd numbers between given range using For Loop
print('Even Numbers:')
for i in range(1, 11):
  if i % 2 == 0:
    print(i, end=" ")

print('\nOdd Numbers:')
for i in range(1,11):
  if i%2!=0: # != not equal to OR if i % 2 == 1:
    print(i, end=" ")

Even Numbers:
2 4 6 8 10
Odd Numbers:
1 3 5 7 9

In [ ]:
odd=[]
even=[]
for i in range(1,11):
  if i % 2 == 0:
    even.append(i)
  else:
    odd.append(i)
print('Even Nos.:',even)
print('Odd Nos.:',odd)

Even Nos.: [2, 4, 6, 8, 10]
Odd Nos.: [1, 3, 5, 7, 9]

In [ ]:
mrklist = [34,55,77,95,20,60,95,60]
for marks in mrklist:
  if marks >= 80:
    print(marks, "--> Distinction")
  elif marks >= 60:
    print(marks, "--> First Class")
  elif marks >= 40:
    print(marks, "--> Pass")
  else:
    print(marks, "--> Fail")

34 --> Fail
55 --> Pass
77 --> First Class
95 --> Distinction
20 --> Fail
60 --> First Class
95 --> Distinction
60 --> First Class

In [ ]:
# print each letter 4 times with separator as space from the given string
for letter in "Data Science":
  print(letter*4,end=" ")

DDDD aaaa tttt aaaa      SSSS cccc iiii eeee nnnn cccc eeee

In [ ]:
# List of Strings
list3=["Mango","Apple","Banana","Pineapple","Custard Apple","Strawberry"]
list3

['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Strawberry']

In [ ]:
list3.append("Mulberry")
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry']

In [ ]:
list3.extend(["Orange","Black berry"])
list3

['Mango',
 'Apple',
 'Banana',
 'Pineapple',
 'Custard Apple',
 'Strawberry',
 'Mulberry',
 'Orange',
 'Black berry']

In [ ]:
# Display fruits by changing case of all fruits to uppercase
for num in list3:
  #print(num.upper())
  print(num.upper(),end=" ")

MANGO APPLE BANANA PINEAPPLE CUSTARD APPLE STRAWBERRY MULBERRY ORANGE BLACK BERRY

In [ ]:
# display fruits which contain substring as 'berry' using for loop
for i in list3:
    if 'berry' in i:
      print(i)

Strawberry
Mulberry
Black berry

In [ ]:
# display fruits which contain substring as 'pple' using for loop
for fruit in list3:
  if 'pple' in fruit:
    print(fruit)

Apple
Pineapple
Custard Apple

In [ ]:
# Create list4 of fruits from list3 having only 'berry' as substring and store remaining fruits in list5
berry=[]
other=[]
for fruit in list3:
  if 'berry' in fruit:
    berry.append(fruit)
  else:
    other.append(fruit)
print("Berry Fruits:",berry)
print("Other Fruits:",other)

Berry Fruits: ['Strawberry', 'Mulberry', 'Black berry']
Other Fruits: ['Mango', 'Apple', 'Banana', 'Pineapple', 'Custard Apple', 'Orange']

In [ ]:
# print squares of all numbers of list1 to list2
l1=[2,3,4,5,6]
l2=[]

for i in l1:
  l2.append(i**3) # OR l2.append(i*i)

print("Original List: ",l1)
print("Cubes: ",l2)

Original List:  [2, 3, 4, 5, 6]
Cubes:  [8, 27, 64, 125, 216]

# **While Loop in Python**
*   A while loop in Python is used to repeat a block of code as long as a given condition is True.
*   The condition is checked before each iteration.

If the condition is True, the loop body executes.

If the condition becomes False, the loop stops.

In [ ]:
# While loop: Print Hello for 5 times
cnt = 0
while cnt < 3:
  print("Hello")
  cnt = cnt + 1

Hello
Hello
Hello

In [ ]:
# Print all the numbers from 1 to 5
i = 1
while i <=5 : # OR i<6
    print(i)
    #i = i + 1 # OR i+=1
    i += 1

1
2
3
4
5

In [ ]:
# Print sum of first 5 numbers
i = 1
total = 0

while i <= 5:
    total = total + i
    i = i + 1

print("Sum =", total)

Sum = 15

In [ ]:
# Print sum of numbers from 6 to 10
i = 6
total = 0

while i<=10:
  total = total + i
  i = i + 1

print("Sum =", total)

Sum = 40

**Infinite While Loop**

If the condition never becomes False, the loop runs forever.

In [ ]:
# Don't Execute this code
# This is an infinite loop because i is never changed.
#i = 1
#while i > 0:
#    print(i)

**While Loop with else**

The else block runs when the loop ends normally (not using break).

In [ ]:
i = 1
while i <= 3:
    print(i)
    i += 1
else:
    print("Loop completed")

1
2
3
Loop completed

**When to Use While Loop**

When the number of iterations is not known in advance

When looping depends on a condition

Example: menu-driven programs, user input validation

**continue Keyword in Python**

The continue keyword is used inside loops (for or while) to skip the current iteration and move to the next iteration of the loop.

In [ ]:
# Here is the same code rewritten using continue instead of break
# (so the loop does not stop, it only skips when i == 3)
for i in range(10):
    if i == 3:
        continue
    else:
        print(i)

0
1
2
4
5
6
7
8
9

**Using continue in while loop**

continue skips the current iteration.

In [ ]:
i = 0
while i < 5:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5

**pass Keyword in Python**

The pass keyword in Python is a null statement.
It does nothing when executed, but it is used where a statement is syntactically required.

In [ ]:
# pass
for i in range(5):
  if i==3:
    pass
  else:
    print(i)

0
1
2
4

### **Difference between pass and continue**

pass is a null statement used as a placeholder

continue skips the current iteration of a loop

continue can be used only inside loops

pass can be used anywhere a statement is required

In [ ]:
# pass does nothing, so print(i) still executes.
for i in range(1, 5):
    if i == 3:
        pass
    print(i)

1
2
3
4

In [ ]:
# When i == 3, print(i) is skipped.
for i in range(1, 5):
    if i == 3:
        continue
    print(i)

1
2
4

**Using break in Python**

break stops the loop immediately.

In [ ]:
# break
for i in range(10):
  if i==3:
    break
  else:
    print(i)

0
1
2

In [ ]:
i = 1
while i <= 10:
    if i == 5:
        break
    print(i)
    i += 1

1
2
3
4

# **Try Yourself**

**1. Print numbers from 15 to 25**

Problem Statement:
Write a program to print numbers from 15 to 25 using a for loop.

In [ ]:
# Code Here

15
16
17
18
19
20
21
22
23
24
25

**2. Print numbers from 1 to 20**

Problem Statement:
Write a program to print numbers from 1 to 20.

In [ ]:
  # Code here

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

**3. Print even numbers from 20 to 30**

Problem Statement:
Write a program to print all even numbers between 20 and 30.

In [ ]:
  # Code here

20
22
24
26
28
30

**4. Print odd numbers from 50 to 60**

Problem Statement:
Write a program to print all odd numbers between 50 and 60.

In [ ]:
  # Code here

51
53
55
57
59

In [ ]:
# OR
for i in range(50, 61):
    if i % 2 == 1:
        print(i)

**5. Print squares of numbers from 1 to 5**

Problem Statement:
Write a program to print the square of numbers from 1 to 5.

In [ ]:
  # Code here

1
4
9
16
25

**6. Print each character of a string**

Problem Statement:
Write a program to print each character of a given string.

In [ ]:
  # Code here

D
a
t
a

S
c
i
e
n
c
e

**7. Count from 10 to 1**

Problem Statement:
Write a program to print numbers from 10 to 1 using a for loop.

In [ ]:
  # Code here

10
9
8
7
6
5
4
3
2
1

**8. Print numbers except 5**

Problem Statement:
Write a program to print numbers from 1 to 10 except number 5.

In [ ]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

**9. Print multiplication table of any number**

Problem Statement:
Write a program to print the multiplication table of any number.

In [ ]:
num = int(input("Enter a number: "))
for i in range(1,11):
  print(num * i)

Enter a number: 5
5
10
15
20
25
30
35
40
45
50

In [ ]:
num = int(input("Enter a number: "))
for i in range(1,11):
  print(num,"*",i,"=",num*i)

Enter a number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
for i in range(1, 11):
    print(2 * i)

2
4
6
8
10
12
14
16
18
20

**10. Print sum of numbers from 1 to 5**

Problem Statement:
Write a program to find the sum of numbers from 1 to 5.

In [ ]:
  # Code here

15

11. Print length of each word in a list
Problem Statement: Write a program to find the length of each word in the given list of strings

In [ ]:
fruits = ["Apple","Banana","Strawberry","Pineapple"]
  # Code here

5
6
10
9

In [ ]:
# OR
fruits = ["Apple","Banana","Strawberry","Pineapple"]
  # Code here

Apple -> 5
Banana -> 6
Strawberry -> 10
Pineapple -> 9

# **Intermediate Level Questions**

**1. Count vowels in a string**

Problem:
Write a program to count the number of vowels in a given string.

Hint: Use if inside for.

In [ ]:
s = "Intermediate programming"
  # Code here

Vowels = 9

**2. Find sum of even and odd numbers separately**

Problem:
Given a list of numbers, find the sum of even numbers and odd numbers separately.

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
  # Code here

Even sum = 12
Odd sum = 9

In [ ]:
nums = [1, 2, 3, 4, 5, 6]
  # Code here

Even Numbers: [2, 4, 6]
Odd Numbers: [1, 3, 5]
Even sum = 12
Odd sum = 18

**3. Reverse a string using for loop**

Problem:
Write a program to reverse a string without using slicing.

In [ ]:
s = "python"
  # Code here

Reversed = nohtyp

**4. Print prime numbers between 1 and 50**

Problem:
Write a program to print all prime numbers between 1 and 50.

A prime number is a natural number greater than 1 that has exactly two factors

(i.e. it is divisible by only 2 factors): 1 and the number itself

In [ ]:
  # Code here

3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

**5. Find the largest and smallest number in a list**

Problem:
Given a list of numbers, find the largest and smallest elements using a for loop.

In [ ]:
num = [10,25,3,8,52,48]
  # Code here

Largest Number =  52
Smallest Number =  3

**6. Find factorial of a number**

Problem:
Write a program to find the factorial of a number using a for loop.

In [ ]:
n = 5
  # Code here

Factorial = 120

**7. Print pattern using for loop**

Problem:
Print the following pattern: 1 star on 1st line, 2 stars on 2nd, 3 stars on 3rd and 4 stars on 4h line

In [ ]:
  # Code here

*
**
***
****

In [ ]:
# Alternate Method
pat="*"
  # Code here

*
**
***
****

**8. Remove duplicates from a list**

Problem:
Write a program to remove duplicate elements from a list without using set().

In [ ]:
nums = [1, 2, 2, 3, 4, 3]
  # Code here

[1, 2, 3, 4]

**9. Count digits and letters in a string**

Problem:
Write a program to count number of digits and letters in a string.

In [ ]:
s = "abcd12345"
  # Code here

Letters = 4
Digits = 5

**10. Print elements at even index positions**

Problem:
Write a program to print elements present at even index positions in a list.

In [ ]:
lst = [10, 20, 30, 40, 50]

  # Code here

10
30
50

**11. Find common elements between two lists**

Problem:
Write a program to find common elements between two lists.

In [ ]:
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]

  # Code here

3
4