# **User Defined Functions**

# **Types of Arguments**

- **Fixed length arguments**

    - positional arguments (required arguments)
    
    - default arguments

    - keyword arguments

- **Variable length arguments**

    - non keyword variable length arguments

    - keyword variable length arguments

## **Positional Arguments**

In [1]:
# positional arguments
def diff(x1,x2):
  print(x1-x2)

In [4]:
diff(10,20)
# Here arguments are behaving as per their positions and number of arguments
# 10 will go in x1
# 20 will go in x2

-10

In [5]:
diff(20,10) # Here positions of 20 and 10 is changed

10

In [6]:
diff(10) # number o arguments matters

TypeError: diff() missing 1 required positional argument: 'x2'

In [7]:
diff(10,20,30) # number of arguments matters

TypeError: diff() takes 2 positional arguments but 3 were given

## **Default Arguments**

Function will take default value if no other value is passed as an argument while calling the function.

In [12]:
# positional arguments
def bill1(purchase,discount):
  total_bill=purchase-(purchase*discount/100)
  print(total_bill)

In [14]:
bill1(10000,20)

8000.0

In [15]:
bill1(10000)

TypeError: bill1() missing 1 required positional argument: 'discount'

In [16]:
# default arguments
def bill2(purchase,discount=40):
  total_bill=purchase-(purchase*discount/100)
  print(total_bill)

In [17]:
# When default parameter is set, and if you don't pass that argument
# while calling function, it will not raise error.
# It will use default value in that case
bill2(10000)

6000.0

In [18]:
bill2(10000,50)

5000.0

**Write a function with default argument to greet a user**

In [20]:
def greet(name,g="Hello"):
  print("{} - {}".format(g,name))

In [22]:
greet("Snehal")

Hello - Snehal

In [23]:
greet("Amit","Hi")

Hi - Amit

In [24]:
# In Python, Non-default arguments cannot follow default arguments
# So following code will raise error
def greet(g="Hello",name):
  print("{} - {}".format(g,name))

SyntaxError: parameter without a default follows parameter with a default (ipython-input-3183106833.py, line 3)

In [25]:
greet("Snehal")

Hello - Snehal

## **Keyword Arguments**

In [26]:
# positional arguments
def bill(purchase,discount):
  total_bill=purchase-(purchase*discount/100)
  print(total_bill)

In [27]:
bill(10000,25) # correct answer

7500.0

In [28]:
# interchange positions of arguments
# Answer is correct but order matters
bill(25,10000)

-2475.0

In [29]:
# We know number of arguments and their names
# But if n number of arguments are there, we can't remember the order
# Instead we can give keyword arguments.
# In that case order of arguments doesn't matter

bill(discount=25,purchase=10000)

7500.0

In [30]:
bill(purchase=10000,discount=25)

7500.0

## **Variable Length Arguments**

In [31]:
# Positional Arguments
def numbers(n):
  print(n)

In [32]:
numbers(10)

10

In [33]:
numbers(10,20)

TypeError: numbers() takes 1 positional argument but 2 were given

In [34]:
def numbers(*n): # * indicates variable length. It is not fixed
  print(n)

In [35]:
numbers(10)

(10,)

In [36]:
numbers(10,20)

(10, 20)

In [37]:
numbers(10,20,30,40,4,3,5,3,1,2,6)

(10, 20, 30, 40, 4, 3, 5, 3, 1, 2, 6)

In [38]:
# lets try one more time
def integers(x,*y):
  # 1st argument will be taken by x, Remaining arguments will be taken by y
  print("x=",x)
  print("y=",y)

In [39]:
integers(10,2,3,4,5,6)

x= 10
y= (2, 3, 4, 5, 6)

# **Scope of Variables**

- Local Variable - A local variable is created inside a function and can be used only within that function.

- Global Variable - A global variable is defined outside the function and can be accessed inside and outside the function.

In [40]:
# Local Variable

def add():
    x = 10   # local variable
    y = 20   # local variable
    print(x + y)

add()

30

**If you try to access x or y outside the function: add()**

In [41]:
print(x)
# will raise error as x and y are Local Variables to add() function

NameError: name 'x' is not defined

In [44]:
# Global Variable

a = 200   # global variable

In [45]:
def show():
    print(a)

show()
print(a)

200
200

### **If a variable name is the same, local variable gets priority inside the function.**

In [46]:
x = 50   # global variable

def test():
    x = 20   # local variable
    print(x)

test() # Local variable gets priority
print(x) # Outside function can't access local variable so global variable is printed

20
50

In [47]:
globalVar = 1
def f1():
    localVar = 2
    print(globalVar)
    print(localVar)

In [48]:
f1()

1
2

In [49]:
print(globalVar)

1

In [50]:
print(localVar)
# will raise error as scope of local variable is limited to the function only
# in which it is defined

NameError: name 'localVar' is not defined

In [51]:
# Guess the output
x = 1
def f1():
    x = 2
    print(x) # Displays

f1()
print(x) # Displays

2
1

### **To modify a global variable inside a function, use the global keyword.**

In [24]:
count = 10   # global variable
def update():
    global count
    count = count + 5
    print(count)

In [25]:
print(count) # before executing update() function

10

In [26]:
update()

15

In [27]:
print(count) # count is now global variable

15

# **For Loop and While Loop with else keyword**

In [53]:
# Here, else: is not part of any if condition block.
# else part will be executed after completing for loop

n=int(input("Enter any number"))
for i in range(n):
  print(i)
else:
  print("All iterations completed")

Enter any number3
0
1
2
All iterations completed

In [54]:
n=int(input("Enter any number"))
for i in range(n):
  print(i)
print("All iterations completed")

Enter any number3
0
1
2
All iterations completed

In [55]:
i=1
while i<5:
  print(i)
  i=i+1
else:
  print("Executed")

1
2
3
4
Executed