# **Types of Functions**

*   Built-in Functions
*   User Defined Functions
*   Lambda Functions

# **Lambda Functions**

These are also called as Single Line Functions.

Another name is annonymous (nameless) functions.

It is mainly used when you need a function for a short time and simple logic.

Syntax:

**lambda arguments : expression**

arguments → input values

expression → single expression whose result is returned automatically
(no return keyword)

# **Key Points of Lambda Function**

No function name (anonymous)

Can have any number of arguments

Must contain only one expression

Automatically returns the result

Used for short and simple operations

# **Normal Function**

In [ ]:
# Normal Function to add 2 numbers
def add(a, b):
    return a + b

In [ ]:
add(5,6)

11

# **Same Using Lambda**

In [ ]:
# Lambda function to add 2 numbers
add1 = lambda a, b: a + b
print(add1(3, 4))   # Output: 7

7

In [ ]:
# Lambda function that adds 10 to a number
add_ten = lambda x: x + 10
print(add_ten(15))

25

In [ ]:
# Normal function to print square of a number
def square1(x):
    return x**2

square1(2)

4

In [ ]:
# Lambda function for square of a number
square2 = lambda x: x**2

square2(7)

49

# **Lambda with if else**

In [ ]:
s = lambda a: "hi" if a%2==0 else "bye"

In [ ]:
s(28)

'hi'

In [ ]:
s(21)

'bye'

In [ ]:
max_num = lambda a, b: a if a > b else b
print(max_num(50, 20))

50

In [ ]:
f = lambda : "hello"

In [ ]:
f()

'hello'

In [ ]:
s = lambda x,y,z: (x+y)*z

In [ ]:
s(2,4,5)

30

# **zip() function**

The zip() function in Python is used to combine multiple iterables (lists, tuples, etc.) element-by-element into pairs or tuples.

**Syntax:**

**zip(iterable1, iterable2, ...)**

**zip() with same length of list**

In [ ]:
# Elements are combined index-wise
a = [1, 2, 3]
b = [4, 5, 6]

result = zip(a, b)
print(list(result))

[(1, 4), (2, 5), (3, 6)]

**zip() with different length of list**

In [ ]:
# Stops at the shortest iterable
x = [1, 2, 3, 4]
y = [10, 20]

print(list(zip(x, y)))

[(1, 10), (2, 20)]

**zip() with 3 Iterables**

In [ ]:
names = ["Neha", "Amit", "Raj"]
ages = [20, 21, 22]
marks = [80, 85, 90]

print(list(zip(names, ages, marks)))

[('Neha', 20, 80), ('Amit', 21, 85), ('Raj', 22, 90)]

**Using zip() in a for Loop**

In [ ]:
# Display: Neha is 20 years old. Amit is 21 years old. Raj is 22 years old.

for name, age in zip(names,ages):
  print(f"{name} is {age} years old.")

Neha is 20 years old.
Amit is 21 years old.
Raj is 22 years old.

In [ ]:
for name, age, mark in zip(names,ages,marks):
  print(f"{name} is {age} years old and scored {mark} marks in exam.")

Neha is 20 years old and scored 80 marks in exam.
Amit is 21 years old and scored 85 marks in exam.
Raj is 22 years old and scored 90 marks in exam.

**Zip with Dictionary**

**Create dictionary from two lists**

In [ ]:
keys = ["name", "age", "city"]
values = ["Neha", 22, "Pune"]

d = dict(zip(keys, values))
print(d)

{'name': 'Neha', 'age': 22, 'city': 'Pune'}

# **map() Function**

The map() function in Python is used to apply a function to each element of an iterable (like list, tuple, etc.) and return the results.

**Syntax:**

**map(function, iterable)**

function → operation to apply

iterable → list, tuple, etc.

In [ ]:
# without map()
# print squares of elements of one list into another list

nums = [1, 2, 3, 4]
squared_nums = []
for x in nums:
    squared_nums.append(x ** 2)

print(squared_nums)

[1, 4, 9, 16]

**map() with user defined function**

In [ ]:
# map() with user defined function

def square(x):
    return x * x

nums = [1, 2, 3, 4]
print(list(map(square, nums)))

[1, 4, 9, 16]

**map() with lambda**

In [ ]:
# using map() with lambda

nums = [1, 2, 3, 4]
result = list(map(lambda x: x ** 2, nums))
print(result)

[1, 4, 9, 16]

**map() with multiple iterables**

In [ ]:
# Add elements of 2 lists

list1 = [1, 2, 3]
list2 = [4, 5, 6]

result = list(map(lambda x, y: x + y, list1, list2))
print(result)

[5, 7, 9]

In [ ]:
# Works element-wise
# Stops at the shortest iterable

list1 = [1, 2, 3]
list2 = [4, 5]

result = list(map(lambda x, y: x + y, list1, list2))
print(result)

[5, 7]

**map() with Type Conversion**

In [ ]:
str1 = ["1", "2", "3"]
nums = list(map(int, str1))
print(nums)

[1, 2, 3]

In [ ]:
str1

['1', '2', '3']

**map() with built-in functions**

In [ ]:
names = ["neha", "amit", "raj"]
uppercase_words=list(map(str.capitalize,names))
print(uppercase_words)

['Neha', 'Amit', 'Raj']

# **filter() Function**

The filter() function in Python is used to select elements from an iterable that satisfy a given condition.

**Syntax:**

**filter(function, iterable)**

function → returns True or False

iterable → list, tuple, etc.

**Without filter()**

In [ ]:
# Display all even numbers from a list

nums = [1, 2, 3, 4, 5, 6, 10, 15, 28]
even = []

for x in nums:
    if x % 2 == 0:
        even.append(x)

print(even)

[2, 4, 6, 10, 28]

**with filter()**

In [ ]:
# filtering even numbers

nums = [1, 22, 3, 46, 5, 6, 20]
even = list(filter(lambda x: x % 2 == 0, nums))
print(even)

[22, 46, 6, 20]

In [ ]:
# filtering odd numbers

nums = [1, 22, 3, 46, 5, 6, 20]
odd = list(filter(lambda x: x % 2 == 1, nums))
print(odd)

[1, 3, 5]

In [ ]:
# filtering words with more than 5 letters

words = ["apple","banana","cherry","grape","mulberry"]

long_words=list(filter(lambda a:len(a)>5,words))
print(long_words)

['banana', 'cherry', 'mulberry']

# **enumerate()**

The enumerate() function is used to get both the index (position) and

value of elements while looping through an iterable (list, tuple, string, etc.).

**enumerate() is used when we need index + value together.**

**Syntax:**

**enumerate(iterable, start=0)**

iterable → list, tuple, string, etc.

start → starting index (default is 0)

### **Code without enumerate()**

In [ ]:
list1 = ["Manish", "Shital", "Geetanjali"]

cnt = 0
for i in list1:
    print(cnt, i)
    cnt += 1  # we need to take care of counter

0 Manish
1 Shital
2 Geetanjali

In [ ]:
list1 = ["Manish", "Shital", "Geetanjali"]
for i in range(len(list1)):
  print(i,list1[i])

0 Manish
1 Shital
2 Geetanjali

## **enumerate() with single parameter**

In [ ]:
names = ["Manish", "Shital", "Geetanjali"]

for i, name in enumerate(names): # default value for i is zero
    print(i, name)

0 Manish
1 Shital
2 Geetanjali

### **enumerate() with Start Value**

In [ ]:
names = ["Manish", "Shital", "Geetanjali"]

for i, name in enumerate(names, start=1):
    print(i, name)

1 Manish
2 Shital
3 Geetanjali

### **enumerate() with string**

In [ ]:
# separate each character of word with index
word = "Python"

for i, ch in enumerate(word,start=1):
    print(i, ch)

1 P
2 y
3 t
4 h
5 o
6 n

# **round() function**

The round() function is used to round a number to a specified number of decimal places.

**Syntax:**

**round(number, ndigits)**

number → value to round

ndigits → number of decimal places (optional)

In [ ]:
print(round(9.6))
print(round(9.4,1))

10
9.4

In [ ]:
print(round(8.14159, 2))

8.14

In [ ]:
print(round(8.14159, 4))

8.1416

# **List Comprehension**

List comprehension is a short and clean way to create a list in Python using a single line of code instead of a loop.

**Basic Syntax:**

**[expression for item in iterable]**

In [ ]:
# for loop without list comprehension
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
# same code using list comprehension
[i for i in range(1,6)]

[1, 2, 3, 4, 5]

In [ ]:
numbers = [i for i in range(1,6)]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# Normal program for printing squares

numbers=[1,2,3,4,5]
squares=[]
for i in numbers:
  squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# Squares using list comprehension

numbers = [1, 2, 3, 4, 5]
squares = [i * i for i in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# print even numbers

even = [i for i in range(1,11) if i % 2 == 0]
odd = [i for i in range(1,10) if 1 % 2 != 0]
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# if-else comes before for
result = ["Even" if i % 2 == 0 else "Odd" for i in range(1,11)]
print(result)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [ ]:
even=[]
odd=[]
[even.append(i) if i % 2 == 0 else odd.append(i) for i in range(1,11)]
print("Even Nos.: ",even)
print("Odd Nos.: ",odd)

Even Nos.:  [2, 4, 6, 8, 10]
Odd Nos.:  [1, 3, 5, 7, 9]