# **1. Left aligned Triangle Pattern**

1 * on 1st line, 2 * and 2nd line and so on

String repetition

In [ ]:
# Left aligned Triangle Pattern

n = 5
for i in range(1,n+1):
  print(i * "*") # i * '*' -> string repetition

*
**
***
****
*****

In [ ]:
# same code using user input
n = int(input("Enter any positive number: "))
for i in range(1,n+1):
  print(i * "*")

Enter any positive number: 4
*
**
***
****

In [ ]:
# same code using while loop

n = int(input("enter a value: "))
i = 1
while i<=n:
  print(i * "*")
  i = i + 1

enter a value: 5
*
**
***
****
*****

# **2. Left aligned Trianlge with same numbers**

1

22

333

4444

and so on

In [ ]:
n = 5
for i in range (1,n+1):
  print(i * str(i))

1
22
333
4444
55555

# **3. Left aligned triangle with number sequence**

1

12

123

1234

and so on

In [ ]:
# Nested for loop
n = 5
for i in range(1,n+1): # outer loop for number of lines to print
  for j in range(1,i+1): # inner loop to print values
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# **4. Left aligned Triangle with alphabets**

a

a b

a b c and so on

**Hint:** Refer Ascii values of alphabets

a = ASCII value = 97

A = ASCII Value = 65

Use chr() function. chr(65) = A, chr(97) = a

Use nested for loop

In [ ]:
chr(65)

'A'

In [ ]:
chr(97)

'a'

In [ ]:
n = 5
for i in range(1,n+1):
  for j in range(65,65+i):
    print(chr(j),end =" ")
  print ()

A
A B
A B C
A B C D
A B C D E

In [ ]:
# another logic
n = 5
for i in range(1,n+1):
  for j in range(1,i+1):
    print(chr(64+j),end =" ")
  print ()

A
A B
A B C
A B C D
A B C D E

In [ ]:
n = 5
for i in range(1,n+1):
  for j in range(97,97+i):
    print(chr(j),end =" ")
  print ()

a
a b
a b c
a b c d
a b c d e

In [ ]:
alf = input("enter a string :")
for i in range (ord("a"),ord(alf)+1):
  for j in range(ord("a"),i+1):
    print(chr(j),end=" ")
  print()

enter a string :d
a
a b
a b c
a b c d

In [ ]:
ord('a')

97

Print the pattern

A B C D E

A B C D

A B C

A B

A

In [ ]:
n = 5
for i in range(n,0,-1):
  for j in range(65,65+i):
    print(chr(j),end =" ")
  print()

A B C D E
A B C D
A B C
A B
A

# **5. Print the pattern**

string casting and string concatenaion

12

23

34

45

56

In [ ]:
n = 5
for i in range (1,n+1):
  print(str(i) + str(i+1))

12
23
34
45
56

# **6. Right aligned Triangle**

     *
    **

Repetition and concatenation

If you want to print 5 lines, on 1st line initially 4 spaces and 1 star will be printed.

On next line 3 spaces and 2 stars and so on.

So on 1st line (" " * 4)  + '*' * 1

On 2nd line (" " * 3)  + '*' * 2

On 3rd line (" " * 2)  + '*' * 3 and so on

In [ ]:
n = 5
for i in range(1,n+1):
  print(" " * (n-i) + '*' * i)

    *
   **
  ***
 ****
*****

# **7. Centered Triangle Pattern**

on first line - 4 spaces, 1, 4 spaces. In between 1 also there is a space

i.e. on each line total characters are 9

On 2nd line 2 1s, 7 spaces: 3 spaces on left, 3 spaces on right and one space in between 1 and 1.

and so on... Don't take care of printing right hand side spaces

....1....

...1.1...

..1.1.1..

.1.1.1.1.

1.1.1.1.1.

![image.png]()

In [ ]:
n = 6
for i in range(1,n+1):
  spaces = ' ' * (n-i)
  ones = '1 ' * i
  print (spaces + ones)

     1
    1 1
   1 1 1
  1 1 1 1
 1 1 1 1 1
1 1 1 1 1 1

## **8. Magic Dates**

A magic date is a date where the day multiplied by the month = the last 2 digits of the year.

eg. June 10, 1960. Here June is 6th month. So 6*10=60. Last 2 digits of 1960 are 60.

So this is magic date.

How to get last 2 digits from 4 digits?

Divide 4 digits number by 100, you will get last 2 digist in ramainder.

Similarly 4 digit number if divided by 10, you will get last 1 digit in remainder, and so on

In [ ]:
# above code with diffent logic
def magic_date(d,m,y):
  y = str(y)
  y2 = y[2:4]
  if d * m == int(y2):
    print("It's a Magic Date")
  else:
    print("Not a Magic Date")
magic_date(8,9,1972) # try (10,7,1970), (10,6,1960),2/12/2024

It's a Magic Date

In [ ]:
def magic_date(d,m,y):
  y = y % 100
  print(y)
  if d * m == y:
    print("It's a Magic Date")
  else:
    print("Not a Magic Date")
magic_date(8,9,1972)

72
It's a Magic Date

# **9. Sorted Order**

WAP that reads integers form user and sotres them in a list.

Program should continue reading values until user enters 0.

Then it should display all values except 0 in ascending order.

Use either sort() or sorted() to sort the list.

In [ ]:
# Sorted - Ascending Order

x = int(input("Enter 1st number: "))
numbers = []
while x!=0:
  numbers.append(x)
  x = int(input("Enter next number: "))
print("\nUnsorted Numbers: ",numbers)
numbers.sort()
for i in numbers:
  print(i,end=" ")

Enter 1st number: 1
Enter next number: 54
Enter next number: 32
Enter next number: 4
Enter next number: 0

Unsorted Numbers:  [1, 54, 32, 4]
1 4 32 54

# **10. Identify whether list is sorted in ascending order or not**

Write a function. If a list of 4 elements is entered in ascending order,

start comparing 1st two elements. If 1st element is greater than 2nd then return False

means list is not in ascending order.

Otherwise continue comparing 2nd and 3rd element and so on

In [ ]:
# List is Sorted in ascending order or Not
# input: ascending order list
def list_AscSorted(x):
    for i in range(len(x) - 1):
        if x[i] > x[i + 1]:
            return False
    return True

In [ ]:
list_AscSorted([1, 2, 5, 4])

False

In [ ]:
list_AscSorted([1, 6, 3, 4])

False

In [ ]:
# List is Sorted in descending order or Not
# input: descending order list
def list_DesSorted(x):
    for i in range(len(x) - 1):
        if x[i] < x[i + 1]:
            return False
    return True

In [ ]:
list_DesSorted([1, 2, 3, 4])

False

In [ ]:
list_DesSorted([6,5,4,2])

True