# **Object Oriented Programming:**

# **Class**

Class is a Template based on which objects can be created.

It defines attributes and methods that every object will have.

In Python, the __init__ method is a special method that is automatically called

when a new
object is created from a class.

Its primary role is to initialize the object —

in other words, set up the object with initial data
(also called attributes or instance variables).

You can think of it as a constructor in other programming languages.

eg. 1. House Plan (3BHK) is a template(plan) and based on that template House 1,House 2 and House 3 are the 3 objects created.
We can't live in plan, houses can have all properties of plan and its own properties (attributes and methods) also.
eg. 2: Class Person(name,gender),
P1 is a person. P1 is an object or instance of person class. person is a datatype of p1.
p1=person('Tom','Male), P2=person('Mary','Female')
When we say p1=person(), constructor __init__() of p1 gets invoked which is written inside person class.
When we define any method inside the class including __init__() one parameter is mandatory i.e. self object.

When we say p1=person(   ), object p1 is created, method __init__(p1,name,gender) is called. p1,name,gender is passed to init().
Any method you define inside class say hello(p1,...) p1 is passed to that method by default.
eg. p1.name says hello means Tom says hello.

p1 is called 'self' because same object is getting passed into the methods that are there inside the object.

# **__init__**

In Python, the __init__ method is a special method that is automatically called when a new
object is created from a class.


Its primary role is to initialize the object — in other words, set up the object with initial data


(also called attributes or instance variables).

You can think of it as a constructor in other programming languages.

# **Define a Class**

In [ ]:
# Let us create a person class
class person():
  # Let us add objects using __init__ constructor.
  def __init__(self,name,age,height,nation): # in bracket we have objects
    self.name=name
    self.age=age
    self.height=height
    self.nation=nation
  # Let us create a method to print name of person
  def pname(self):
    print(self.name)
  def page(self):
    print(self.age)
  def pheight(self):
    print(self.height)
  def pnation(self):
    print(self.nation)
  def pdetails(self):
    print("name:",self.name)
    print("age:",self.age)
    print("Height",self.height)
    print("Nationality:",self.nation)

# **Create Objects based on the Class**

In [ ]:
# Create instances of class
x=person("ravi",26,157,"Indian")
y=person("Hema",24,151,"Indian")

# **Call the method of class for an instance**

In [ ]:
# let us call the method for an instance
y.pdetails()

name: Hema
age: 24
Height 151
Nationality: Indian

In [ ]:
x.pdetails()

name: ravi
age: 26
Height 157
Nationality: Indian

In [ ]:
x.pname()

ravi

## **Define a class Person.**

Attributes: name, age

Methods: say_hello() -> displays 'name says hello'.

is_eligible() -> displays 'Eligible' if age>=18, else 'Underage'

In [ ]:
# Define a class
class Person:
  # Define the constructor
  def __init__(self,name,age): # Constructor of class
    # create and initialize the object
    self.name = name
    self.age = age
  # Define instance method
  def say_hello(self):
    print(f'{self.name} says hello')

  # let us define another method
  def is_eligible(self):
    if self.age >= 18:
      return 'Eligible'
    else:
      return 'Underage'

In [ ]:
# create an object of type Person
p1 = Person('Tom',23)

In [ ]:
type(p1) # it is an object of type Person

__main__.Person

In [ ]:
# call method
p1.say_hello()

Tom says hello

In [ ]:
p1.is_eligible()

'Eligible'

In [ ]:
p2 = Person('Mary',17)

In [ ]:
p2.say_hello()

Mary says hello

In [ ]:
p2.is_eligible()

'Underage'

In [ ]:
p1.age

23

In [ ]:
p1.name

'Tom'

In [ ]:
p2.__dict__ # it gives us attributes of p2 object

{'name': 'Mary', 'age': 17}

In [ ]:
dir(p1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'age',
 'is_eligible',
 'name',
 'say_hello']

## **Define a class called Student**

Attributes: name, marks, course

Method: grades() ->

if marks >= 80 Distinction

marks >= 60 First Class

marks >= 40 Second Class

else Fail

In [ ]:
# Class name start with capital letter... it's a naming convention
class Student:
  def __init__(self,name,marks,course): #self is always 1st parameter for the constructor
  # create and initialize the object
    self.name = name
    self.marks = marks
    self.course = course

  # define a method
  def grades(self):
    if self.marks >= 80:
      return 'Distinction'
    elif self.marks >= 60:
      return 'First Class'
    elif self.marks >= 40:
      return 'Second Class'
    else:
      return 'Fail'

In [ ]:
# Create students of type Student
s1 = Student('Tom',75,'Python')

In [ ]:
s1.__dict__ # see properties of 1st student

{'name': 'Tom', 'marks': 75, 'course': 'Python'}

In [ ]:
s2 = Student('Mary',45,'Data Science')

In [ ]:
s2.__dict__ # see properties of 2nd student

{'name': 'Mary', 'marks': 45, 'course': 'Data Science'}

In [ ]:
s1.name

'Tom'

In [ ]:
s2.name

'Mary'

In [ ]:
# To call a method defined in a class, you have to create object of class first (s1).
# Then using object and dot operator you can call method. s1.grades()
s1.grades()

'First Class'

In [ ]:
s2.grades()

'Second Class'

In [ ]:
s2.marks

45

In [ ]:
s1.name = 'Thomas'

In [ ]:
s1.name

'Thomas'

In [ ]:
s1.marks

75

In [ ]:
s1.__dict__

{'name': 'Thomas', 'marks': 75, 'course': 'Python'}

In [ ]:
type(s1),type(s2)

(__main__.Student, __main__.Student)

## **Define a class calc**

Attributes: x,y

4 Methods: addition() displays 'Addition:' result, subtract(), mul(), div()

In [ ]:
class calc():
  def __init__(self,x,y):
    self.x=x
    self.y=y
  def addition(self):
    print("sum:",self.x+self.y)
  def subtract(self):
    print("Difference:",self.x-self.y)
  def prod(self):
    print("Product:",self.x*self.y)
  def div(self):
    print("Division:",self.x/self.y)

In [ ]:
p=calc(10,20)

In [ ]:
p.addition()

sum: 30

## **Define a class point to calculate distance between two points**

Attributes: x1,y1,x2,y2

Methods: distance() using formula: distance=sqrt[(x1-x2)square + (y1-y2)square]

In [ ]:
# distance between two points
import math
class point():
  def __init__(self,x1,y1,x2,y2):
    self.x1=x1
    self.y1=y1
    self.x2=x2
    self.y2=y2
  def distance(self):
    d=math.sqrt((self.x1-self.x2)**2+(self.y1-self.y2)**2)
    print(d)

In [ ]:
p=point(1,2,3,4)

In [ ]:
p.distance()

2.8284271247461903

# **Creating Multiple Independent Classes:**

In [ ]:
# let us create first class
class one():
  def __init__(self,num1,num2):
    self.num1=num1
    self.num2=num2
  def numbers(self):
    print(self.num1,self.num2)

# Let us create another class
class two():
  def __init__(self,name1,name2):
    self.name1=name1
    self.name2=name2
  def names(self):
    print(self.name1,self.name2)

In [ ]:
obj1=one(2,4)
obj2=two('A','B')

In [ ]:
obj1.numbers()

2 4

In [ ]:
obj2.names()

A B